@model Tasman.Models.User

<form asp-action="Register" asp-controller="Register" method="post">
    <div>
        <label asp-for="FirstName">First Name:</label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="LastName">Last Name:</label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>

        @* Optional message if other fields have validation errors *@
        @if (!ViewData.ModelState.IsValid && Model.Password != null)
        {
            <small class="text-muted">Please re-enter your password</small>
        }
    </div>

    <div>
        <label asp-for="PhoneNumber">Phone Number:</label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <button type="submit">Register</button>
</form>


<p>Already have an account? 
    <a asp-controller="Login" asp-action="Login">Login here</a>
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
