@{
    Layout = "~/Views/Shared/TravelLayout.cshtml";
}
@model IEnumerable<Tasman.Models.Travel>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/travel.css" />

<div class="page-container">

    <h1 class="page-title">Explore Travel Destinations</h1>

    <!-- Swiper -->
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">

            @foreach (var t in Model)
            {
                <div class="swiper-slide travel-card">
                    <div class="travel-image" 
                        style="background-image:url('@t.ImageUrl');
                                background-size:contain;
                                background-position:center;
                                background-repeat:no-repeat;">
                    </div>

                    <p class="travel-category">@t.PackageType</p>
                    <p class="travel-price">₪@t.Price</p>
                </div>

            }

        </div>

        <div class="swiper-pagination"></div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    new Swiper(".main-swiper", {
        slidesPerView: 'auto',
        spaceBetween: 3,
        centeredSlides: 'true',
        pagination: {
            el: ".swiper-pagination",
            clickable: true
        },
        breakpoints: {
            0: { slidesPerView: 1 },
            600: { slidesPerView: 2 },
            900: { slidesPerView: 3 }
        }
    });
</script>
