*{
    margin: 0;
    padding: 0;
}
.page-container {
    width: 90vw;
    margin: 5vw auto;
}

.page-title {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 4vw;
}

/* Swiper cards */
.travel-card {
    background: #fff;
    padding: 2vw;
    border-radius: 2vw;
    box-shadow: 0 0 2vw rgba(0,0,0,0.1);
    text-align: center;
}

.travel-image {
    width: 100%;
    height: 18vw;
    background: #e3e3e3;
    margin-bottom: 2vw;

    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travel-category {
    font-size: 2vw;
    color: #666;
    margin-bottom: 1vw;
}

.travel-price {
    font-size: 2.5vw;
    color: #009944;
    font-weight: bold;
}
