*{
    margin: 0;
    padding: 0;
}
.main {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff; 
}
.page-container {
    width: 90%;
    margin: 5vw auto;
}

.page-title {
    font-size: 3vw;
    text-align: center;
    margin-bottom: 4vw;
}


.travel-card {
    background: #fff;
    padding: 2vw;
    border-radius: 2vw;
    box-shadow: 0 0 2vw rgba(0,0,0,0.1);
    text-align: center;
}

.travel-image {
    width: 100%;
    height: 18vw;
    background: #e3e3e3;
    margin-bottom: 2vw;

    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travel-category {
    font-size: 2vw;
    color: #666;
    margin-bottom: 1vw;
}

.travel-price {
    font-size: 2.5vw;
    color: #009944;
    font-weight: bold;
}
.Header {
    width: 100%;
    display: flex;
    gap: 2vw;
    flex-direction: row;
    align-items: center;
  
}

/* Search Bar */
.search-container input {
    padding: 1vw 2vw;
    border: 0.1vw solid #ccc;
    border-radius: 1vw;
    font-size: 1.2vw;
    width: 18vw;
}

/* Filter Dropdown */
.filter-container select {
    padding: 1vw 2vw;
    border: 0.1vw solid #ccc;
    border-radius: 1vw;
    font-size: 1.2vw;
    background-color: white;
    width: 20vw;
}

/* Price Range */
.price-range-container {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 1.2vw;
}

#price-range {
    width: 12vw;
}

#range-value {
    font-weight: bold;
    font-size: 1.2vw;
}
